<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <a href="/">
        <h1 id="topo">Pokédex</h1>
      </a>
      <ul>
        <li><a href="/cadastro">Cadastro</a></li>
        <li><a href="/#cards">Pokémons</a></li>
      </ul>
    </nav>
  </body>
</html>