
    <section class="modal-overlay" id="ovarlay">
        <div class="modal" id="modal">
            <div class="modal-header">
              <h3>Remover Pokemon</h3>
              <a href="/" id="close-modal-put">X</a>
            </div>
        
            <div class="modal-body">
                <p>Tem certeza que deseja excluir o <%= pokemonDel %></p>
                <div id="btns-del">
                    <a id="no" href="/">Não</a>
                    <a id="yes" href="/remove/<%= pokemonDel.id %>">Sim</a>
    
                </div>
                
            </div>
        </div>
    </section>
    